@using Microsoft.AspNetCore.Http.Features

@{
  var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
  var showBanner = !consentFeature?.CanTrack ?? false;
  var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
  <nav id="cookieConsent" class="cookiebar" role="alert">
    <div class="container">
      <div class="cookiebar-header">
        <button type="button" class="navbar-toggler" style="display: none" data-toggle="collapse" data-target="#cookieConsent .navbar-collapse">
          <span class="sr-only">Toggle cookie consent banner</span>
          <span class="navbar-toggler-icon"></span>
        </button>
        <span class="cookiebar-brand"><span class="fa fa-info-circle" aria-hidden="true"></span></span>
      </div>
      <div class="collapse navbar-collapse show">
        <p class="cookiebar-text">
          Use this space to summarize your privacy and cookie use policy.
        </p>
        <div class="cookiebar-buttons" style="float: right">
          <a asp-controller="Home" asp-action="Privacy" class="btn btn-info">Learn More</a>
          <button type="button" class="btn btn-secondary" data-cookie-string="@cookieString">Accept</button>
        </div>
      </div>
    </div>
  </nav>
  <script>
    (function () {
      document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function (el) {
        document.cookie = el.target.dataset.cookieString;
        document.querySelector("#cookieConsent").classList.add("invisible");
      }, false);
    })();
  </script>
}