@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<li class="nav-item dropdown">
  <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
    <img class="img-avatar" src="~/images/avatars/6.jpg" alt="admin@bootstrapmaster.com">
  </a>
  <div class="dropdown-menu dropdown-menu-right">
    <div class="dropdown-header text-center">
      <strong>Account</strong>
    </div>
    <a class="dropdown-item" href="#">
      <i class="fa fa-bell-o"></i> Updates
      <span class="badge badge-info">42</span>
    </a>
    <a class="dropdown-item" href="#">
      <i class="fa fa-envelope-o"></i> Messages
      <span class="badge badge-success">42</span>
    </a>
    <a class="dropdown-item" href="#">
      <i class="fa fa-tasks"></i> Tasks
      <span class="badge badge-danger">42</span>
    </a>
    <a class="dropdown-item" href="#">
      <i class="fa fa-comments"></i> Comments
      <span class="badge badge-warning">42</span>
    </a>
    <div class="dropdown-header text-center">
      <strong>Settings</strong>
    </div>

    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
      <i class="fa fa-user"></i> Profile
    </a>

    <a class="dropdown-item" href="#">
      <i class="fa fa-wrench"></i> Settings
    </a>
    <a class="dropdown-item" href="#">
      <i class="fa fa-usd"></i> Payments
      <span class="badge badge-secondary">42</span>
    </a>
    <a class="dropdown-item" href="#">
      <i class="fa fa-file"></i> Projects
      <span class="badge badge-primary">42</span>
    </a>
    <div class="divider"></div>
    <a class="dropdown-item" href="#">
      <i class="fa fa-shield"></i> Lock Account
    </a>

    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new {area = ""})" method="post" id="logoutForm">
      <script>
        function logout() {
          $('#logoutForm').submit();
        }
      </script>
      <a class="dropdown-item" href="javascript: void(0)" onclick="logout()">
        <i class="fa fa-lock"></i> Logout
      </a>
    </form>

  </div>
</li>
