<!-- *SIDEBAR-NAV* -->
<nav class="sidebar-nav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" asp-controller="CoreUI" asp-action="Index" asp-route-view="index"><i class="icon-speedometer"></i> Dashboard <span class="badge badge-primary">NEW</span></a>
        </li>
        <li class="nav-title">
            UI Elements
        </li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-puzzle"></i> Components</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Index" asp-route-view="components-buttons"><i class="icon-puzzle"></i> Buttons</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Index" asp-route-view="components-social-buttons"><i class="icon-puzzle"></i> Social Buttons</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Index" asp-route-view="components-cards"><i class="icon-puzzle"></i> Cards</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Index" asp-route-view="components-forms"><i class="icon-puzzle"></i> Forms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Index" asp-route-view="components-modals"><i class="icon-puzzle"></i> Modals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Index" asp-route-view="components-switches"><i class="icon-puzzle"></i> Switches</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Index" asp-route-view="components-tables"><i class="icon-puzzle"></i> Tables</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Index" asp-route-view="components-tabs"><i class="icon-puzzle"></i> Tabs</a>
                </li>
            </ul>
        </li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-star"></i> Icons</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Index" asp-route-view="icons-font-awesome"><i class="icon-star"></i> Font Awesome <span class="badge badge-secondary">4.7</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Index" asp-route-view="icons-simple-line-icons"><i class="icon-star"></i> Simple Line Icons</a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="CoreUI" asp-action="Index" asp-route-view="widgets"><i class="icon-calculator"></i> Widgets <span class="badge badge-primary">NEW</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="CoreUI" asp-action="Index" asp-route-view="charts"><i class="icon-pie-chart"></i> Charts</a>
        </li>
        <li class="divider"></li>
        <li class="nav-title">
            Extras
        </li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-star"></i> Pages</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Index" asp-route-view="pages-login" target="_top"><i class="icon-star"></i> Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Index" asp-route-view="pages-register" target="_top"><i class="icon-star"></i> Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Index" asp-route-view="pages-404" target="_top"><i class="icon-star"></i> Error 404</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Index" asp-route-view="pages-500" target="_top"><i class="icon-star"></i> Error 500</a>
                </li>
            </ul>
        </li>
        <li class="nav-item mt-auto">
            <a class="nav-link nav-link-success" href="http://coreui.io/" target="_top"><i class="icon-cloud-download"></i> Download CoreUI</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link-danger" href="http://coreui.io/pro/" target="_top"><i class="icon-layers"></i> Try CoreUI <strong>PRO</strong></a>
        </li>
    </ul>
</nav>
<!-- /*SIDEBAR-NAV* -->
