/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.container-fluid {
    padding-top: 24px !important;
}

.breadcrumb {
    margin-bottom: 0;
}
